    case {{ crop_name }}_{{ operation_id }}:

        {{ step1_block }}

        done = true;
        break;

    default:
        g_msg->Warn(WARN_BUG, "{{ cpp_name }}::Do(): "
            "Unknown event type! ", "");
        exit(1);
    }

    return done;