bool constraints = {{ constraints_expression }};
daysLeft = {{ latest_date }} - g_date->DayInYear();

    if ((m_ev->m_lock || ((constraints) && (myRand < {{ random_chance }}))) && daysLeft >= 0) {
        if (!m_farm->{{ function_name }}(m_field, 0.0, daysLeft)) {
            SimpleEvent(g_date->Date() + 1, {{ crop_name }}_{{ operation_id }}, true);
            break;
        }
        history.insert({{ crop_name }}_{{ operation_id }});
    }