{% set ns = namespace(cum_prob=0) %}
{% for i in range(next_actions|length) %}
    {% set next = next_actions[i] %}
    {% set earliest = earliest_dates[i] %}
    {% set prob = probabilities[i]|float %}
    {% if i == 0 %}
if (myRand < {{ prob }}) {
        SimpleEvent(std::max(g_date->Date() + 1, {{ earliest }}), {{ next }}, false);
    }
    {% elif i == (next_actions|length - 1) %}
    else {
        SimpleEvent(std::max(g_date->Date() + 1, {{ earliest }}), {{ next }}, false);
    }
    {% else %}
    else if (myRand >= {{ ns.cum_prob }} && myRand < {{ ns.cum_prob + prob }}) {
        SimpleEvent(std::max(g_date->Date() + 1, {{ earliest }}), {{ next }}, false);
    }
    {% endif %}
    {% set ns.cum_prob = ns.cum_prob + prob %}
{% endfor %}